* {
  overflow: scroll;
  padding: 0px !important;
  margin: 0px !important;
}
body{
    background: rgba(247,247,247,1);
}

.nengajo1 {
  width: 408px;
  height: 615px;
  background: url("../images/nengajo1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 556px;
  overflow: hidden;
}

.text{
    width: 200px;
    height: 300px;
    resize: none;
    position: relative; top: 300px;
    overflow: hidden;
    font-size: 17px;
    font-family: "Noto Serif JP", serif;
    font-feature-settings: "palt";
    color: #2c3e50;
    line-height: 2em;
    text-indent: 1em;
}

.submit{
    position: absolute; top: 800px;
    position: absolute; left: 700px;
}